<div class="post">
  <div class="header">
    <h1>Post title</h1>

    <button routerLink="/" class="btn btn-link">To main</button>
  </div>

  <div class="info">
    <strong>Here the author</strong>
    <small>&nbsp;26.07.2020</small>
  </div>

  <div>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet autem blanditiis commodi deleniti dolore ea esse iusto laudantium modi nam natus nemo nesciunt quaerat repellendus repudiandae, saepe sapiente sunt tenetur vero voluptatum! Alias amet cumque deserunt earum esse hic id illum ipsa magni minima nesciunt reprehenderit sapiente, sed sequi, sunt.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet autem blanditiis commodi deleniti dolore ea esse iusto laudantium modi nam natus nemo nesciunt quaerat repellendus repudiandae, saepe sapiente sunt tenetur vero voluptatum! Alias amet cumque deserunt earum esse hic id illum ipsa magni minima nesciunt reprehenderit sapiente, sed sequi, sunt.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet autem blanditiis commodi deleniti dolore ea esse iusto laudantium modi nam natus nemo nesciunt quaerat repellendus repudiandae, saepe sapiente sunt tenetur vero voluptatum! Alias amet cumque deserunt earum esse hic id illum ipsa magni minima nesciunt reprehenderit sapiente, sed sequi, sunt.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet autem blanditiis commodi deleniti dolore ea esse iusto laudantium modi nam natus nemo nesciunt quaerat repellendus repudiandae, saepe sapiente sunt tenetur vero voluptatum! Alias amet cumque deserunt earum esse hic id illum ipsa magni minima nesciunt reprehenderit sapiente, sed sequi, sunt.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet autem blanditiis commodi deleniti dolore ea esse iusto laudantium modi nam natus nemo nesciunt quaerat repellendus repudiandae, saepe sapiente sunt tenetur vero voluptatum! Alias amet cumque deserunt earum esse hic id illum ipsa magni minima nesciunt reprehenderit sapiente, sed sequi, sunt.</p>
  </div>
</div>
