.logo__img {
  height: 55px;
  width: auto;
  margin-right: 10px;
}

.logo {
  display: flex;
  align-items: center;
}

.logo-text__heading {
  font-size: 29px;
  line-height: 29px;
  color: #20373b;
}

.logo-text__description {
  font-size: 14px;
  color: #303a3f;
}
